// Breakpoints
$breakpoint-mobile: 320px;
$breakpoint-desktop: 767px;

// Colors
$color-pale-blue: hsl(221, 100%, 96%);
$color-light-lavender: hsl(241, 100%, 89%);
$color-dark-grey-blue: hsl(224, 30%, 27%);
$color-light-red: hsl(0, 100%, 67%);
$color-light-red-background: hsl(0, 95%, 95%);
$color-orangey-yellow: hsl(39, 100%, 56%);
$color-orangey-yellow-background: hsl(39, 95%, 95%);
$color-green-teal: hsl(166, 100%, 37%);
$color-green-teal-background: hsl(166, 95%, 95%);
$color-cobalt-blue: hsl(234, 85%, 45%);
$color-light-slate-blue: hsl(252, 100%, 67%);
$color-light-royal-blue: hsl(241, 81%, 54%);
$color-violet-blue: hsla(256, 72%, 46%, 1);
$color-violet-blue-background: hsla(256, 95%, 95%);
$color-persian-blue: hsla(241, 72%, 46%, 0);

// Fonts
$font-hankenGrotesk: 'HankenGrotesk', sans-serif;
$font-size-sm: 13px;
$font-size-md: 18px;
$font-size-lg: 25px;
$font-size-xl: 50px;
$font-weight-light: 500;
$font-weight-regular: 700;
$font-weight-bold: 800;

// Gradients
$gradient-background: linear-gradient(180deg, $color-light-slate-blue, $color-light-royal-blue);
$gradient-circle: linear-gradient(180deg, $color-violet-blue, $color-persian-blue);
